In [1]:
import pandas as pd

In [2]:

venda = {'data': ['03/07/2021', '04/07/2021'],
        'valor': [500, 300],
        'produto': ['feijao', 'arroz'],
        'qtde':[50,70],    
        }
tabelaVendas = pd.DataFrame(venda)

In [3]:
display(tabelaVendas)

         data  valor produto  qtde
0  03/07/2021    500  feijao    50
1  04/07/2021    300   arroz    70